@import "global.css";

body {
    font-family: 'Noticia Text', serif; 
    background-color: var(--main-text-color);
}
h1,
h2 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    margin-bottom: 0.3em;
}

.site-border {
    padding: 20px;
    background-color: #24282d;
}

.site-wrapper {
    padding: 20px;
    background-color: var(--main-bg-color);
}

.site-logo {
    width: auto;
    height: auto;
}

.page-content {
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    margin-top: 5.2em;
    text-align: center;
}

.post-list {
    list-style: none;
    display: grid;
    grid-template-areas: "a a b";
    grid-gap: 10px;
    grid-auto-columns: auto;
    justify-content: center;
}

.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faebd7;
}

.post-card:first-child {
    grid-area: a;
}

.post-card-image-link {
    height: 30vw;
    width: 100%;
    align-self: stretch;
}

.post-card-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.post-categories {
    font-size: 1.1em;
    font-weight: 400;
    color: #7f8d8c;
    font-style: italic;
}

.post-content {
    min-height: 50vh;
    max-width: 80vw;
    margin: 2em auto;
    text-align: left;
    color: #7f8d8c;
    line-height: 1.5;
    font-size: 1.5em;
}

.post-excerpt {
    margin-top: 1.8em;
    text-align: left;
    color: #7f8d8c;
    line-height: 1.5;
    font-size: 1.5em;
}
.site-title {
    display: block;
    font-family: Cinzel;
    float: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 5.3em;
    line-height: 1.1;
}

.site-nav {
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
}

.nav-menu-item {
    line-height: 1.3;
    font-weight: 900;
    display: inline-block;
    margin-right: 8px;
}
